<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>

<!-- https://stackoverflow.com/questions/24549997/how-can-i-properly-check-if-the-url-contains-request-parameters-in-thymeleaf -->
<div th:if="${param.keySet().contains('error')}">
  Unsuccessful login
</div>

<div th:if="${param.keySet().contains('logout')}">
  Successful logout
</div>

<form th:action="@{/login}" method="post">
  <input type="text" name="username"/>
  <input type="password" name="password"/>
  <input type="submit" value="Login"/>
</form>


</body>
</html>